<div class="panel-imformation">
  <div class="row title-imformation-user">
    <div class="center title">
      <h2><%= t ".user_imformation" %></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 row avatar">
      <% if @user.avatar.blank? %>
        <%= image_tag "images.jpg", class: "img-responsive", size: 200 %>
      <% else %>
        <%= image_tag @user.avatar, class: "img-responsive", size: 200 %>
      <% end %>
    </div>
    <div class="col-md-9 row imformation">
      <table class="table">
        <tbody>
          <tr>
            <td class="col-md-4"><strong><i class="fa fa-user-o"></i> Name</strong></td>
            <td class="col-md-4"><%= @user.name %></td>
          </tr>
          <tr>
            <td class="col-md-4"><strong><i class="fa fa-envelope-o"></i> Email</strong></td>
            <td class="col-md-4"><%= @user.email %></td>
          </tr>
          <tr>
            <td class="col-md-4"><strong><i class="fa fa-envelope-o"></i> Address</strong></td>
            <td class="col-md-4"><%= @user.address %></td>
          </tr>
          <tr>
            <td class="col-md-4"><strong><i class="fa fa-envelope-o"></i> Phone</strong></td>
            <td class="col-md-4"><%= @user.phonenumber %></td>
          </tr>
          <tr>
            <td class="col-md-4"><strong><i class="fa fa-birthday-cake"></i> BirthDay</strong></td>
            <td class="col-md-4"><%= @user.birth_day.to_date %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>